name: CI-CD Pipeline

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4

      
      - name: Run Java Build Composite
        uses: ./.github/actions/java-build
