name: CI-CD Pipeline

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master]

permissions:
  contents: write
  packages: write

jobs:

  
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Compile Code
        run: mvn clean compile


  
  unit_test:
    name: Unit Testing
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Run Unit Tests
        run: mvn test


  scan:
    name: Code Scan
    runs-on: ubuntu-latest
    needs: unit_test
    steps:
      - uses: actions/checkout@v4
      - name: Dependency Scan
        run: mvn dependency-check:check || true



  deploy_dev:
    name: Development Deployment
    runs-on: ubuntu-latest
    needs: scan
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Dev
        run: mvn clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: deploy_dev
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v1.0.${{ github.run_number }}
          release_name: Release v1.0.${{ github.run_number }}
          draft: false
          prerelease: false



  sit_deploy:
    name: SIT Deployment
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to SIT
        run: mvn clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



  sit_test:
    name: SIT Testing
    runs-on: ubuntu-latest
    needs: sit_deploy
    steps:
      - uses: actions/checkout@v4
      - name: Run Integration Tests
        run: mvn verify
